[Unit]
Description={{ service_identifier }}

[Service]
User={{ service_identifier }}
Group={{ service_identifier }}
WorkingDirectory={{ node_home_dir }}
ExecStart={{ node_bin_dir }}/{{ service_identifier }} \
    --rollup-config-path {{ node_rollup_config_file_path }} \
    --genesis-path {{ node_genesis_config_dir }} \
    --metrics {{ spicenet[type].ports.metrics_port }}
Restart=always
RestartSec=4
LimitNOFILE=65536
MemoryMax=64G
StandardOutput=append:{{ node_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target
